*~
ac-comphist.dat
ido.last
semanticdb
\#*\#
/bookmarks
/projectile-bookmarks.eld
/projectile.cache
/themes/*.elc
/tuhdo-emacs.d/
/init-backup.el
/url
/recentf
elpa/*
#!elpa/epl*
#!elpa/anything*
*-backup.el
*-backup
.emacs.desktop*
/session.*
/setup/*.elc
/libs/*.elc
